.HoverCardSimple {
  color: var(--txt-color-lt);
  text-shadow: #6a6760 1px 0 25px;
}

.HoverCardSimple:hover {
  text-shadow: var(--txt-color-dk) 0px 0 4px;
}

.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
