footer {
  max-width: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-sec);
  color: var(--txt-color-dk);
  z-index: 4;
}

nav {
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}

footer .logo {
  padding: 0;
}

footer .navlinks-container {
  display: flex;
  list-style: none;
  gap: 15px;
}

footer .navlinks-container > * {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

footer .start {
  gap: 20px;
}

footer .navlinks-container > *:hover {
  text-decoration: underline var(--txt-color-dk);
}

footer .navlinks-container > *.active {
  text-decoration: double underline var(--txt-color-dk);
}

footer .credits p {
  font-size: 14px;
  margin-left: 10px;
}
