header {
  background-color: var(--bg-color-sec);
  padding: 30px 20px 5px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

nav {
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}

.start {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding: 20px;
}

.logo img {
  max-width: 50px;
}

.navLinksContainer {
  display: flex;
  gap: 10px;
}

.navLink {
  font-weight: 500;
  color: var(--txt-color-dk);
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;

  &:hover {
    color: var(--txt-color-lt);
    text-shadow: #6a6760 1px 0 25px;
  }

  &.active {
    background-color: var(--txt-color-dk);
    color: var(--txt-color-lt);
  }
}
