.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5vh;
  width: 100%;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .row {
    align-items: center;
    padding-top: 0;
  }
}
