.container {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .row {
    gap: 1.5rem;
    align-items: center;
    flex-direction: column;
  }

  .row *:hover {
    all: unset;
  }
}
