.columnThird {
  flex: 0 0 30%;
}

.hoverCard {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  text-shadow: #6a6760 1px 0 25px;

  &:hover {
    text-shadow: var(--txt-color-dk) 0px 0 4px;
  }
}

.hoverCard img {
  width: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
  border-radius: 10px;
}

.innerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  height: 100%;
  z-index: 3;
}

.innerContent h4 {
  position: absolute;
  width: fit-content;
  z-index: 3;
  color: var(--txt-color-lt);
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 20px;
}

@media (hover: none) and (pointer: coarse) {
  .hoverCard:hover {
    text-shadow: #6a6760 1px 0 25px;
  }
}

@media (max-width: 768px) {
  .columnThird {
    flex: 0 0 90%;
  }
  .hoverCard {
    height: 200px;
  }
  .innerContent h4 {
    font-size: 28px;
  }
}
