.picker {
  display: grid;
  grid-auto-flow: row;
  gap: 0.75rem;
  align-items: start;
  margin: 0.25rem 0.75rem;
}

.buttonContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.fileLabel {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.preview {
  width: 160px;
  height: 160px;
  object-fit: cover;
  justify-self: center;
  border-radius: 10px;
  border: 1px solid #eee;
}

.preview.uploaded {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border-radius: 15px;
  padding: 3px;
  border: 5px dotted hsl(30, 100%, 100%);
  box-shadow: 0 0 5px #958a715b;
  background-color: #958a715b;
}

.btnPri,
.btnSec {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  font-family: var(--font-main);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1;

  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  border: 1px solid transparent;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btnPri {
  background-color: var(--txt-color-dk);
  color: var(--txt-color-lt);
  border-color: transparent;

  &:hover {
    opacity: 70%;
  }
  &:active {
    background-color: #151515;
  }
}

.btnSec {
  background-color: var(--bg-color-pri);
  color: var(--txt-color-dk);
  border-color: var(--txt-color-dk);

  &:hover {
    background-color: var(--bg-color-sec);
    box-shadow: inset 0 2px 4px #2626264d;
  }
  &:active {
    background-color: #ddd8cc;
  }
}

@media (max-width: 768px) {
  .picker {
    text-align: center;
  }

  .buttonContainer {
    margin-top: 5px;
  }
}
