// globals

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Safira March";
  src: url("../assets/fonts/safira-march.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color-pri: #f2efe9;
  --bg-color-sec: #e9e5dc;
  --txt-color-dk: #262626;
  --txt-color-lt: white;
  --font-main: "Josefin Sans", "Helvetica Neue", sans-serif;
  --font-heading: "Safira March", Georgia, serif;
}

html {
  font-size: 16px;
  scrollbar-gutter: stable;
}

html,
body {
  height: 100%;
}

html,
body,
#root {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 150px;
  font-family: var(--font-main);
  background-color: var(--bg-color-pri);
  color: var(--txt-color-dk);
}

main {
  background-color: var(--bg-color-pri);
  flex: 1;
  margin: 0 50px 30px 50px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  color: var(--txt-color-dk);
}

ul {
  list-style-type: none;
}

@media (max-width: 768px) {
  #root {
    padding-top: 190px;
  }

  main {
    margin: 0 20px 24px 20px;
  }
}
