.pageLoader {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--txt-color-dk);
  background-color: var(--bg-color-pri);
}
